{% extends "admin_tools.htm" %}

{% block login %}
<a class="navbar-brand">{{ fjmeno }} {{ ljmeno }}</a>
{% endblock login %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ name }} <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                    <i class="fa"></i><a class="btn btn-xs btn-info" href="http://localhost/admin/users/view/admin" role="button">Administrátoři</a>
                    <i class="fa"></i><a class="btn btn-xs btn-info" href="http://localhost/admin/users/view/user" role="button">Uživatelé</a>
                    <i class="fa"></i><a class="btn btn-xs btn-info" href="http://localhost/admin/users/view/all" role="button">Všechny</a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">

            {% set color = ["panel-success", "panel-default", "panel-info", "panel-warning", "panel-danger"] %}
            {% for user in users %}
            <div class="col-ltg-4 col-md-6">
                <div class="panel {{ color[ loop.index % 5 ] }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ user.fjmeno }} {{ user.ljmeno }}</div>
                                <div>{{ user.email }}</div>
                                <div>{{ user.tel | default('...')}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-left">{{ user.ulice }}, {{ user.psc }} {{ user.mesto }}</span><br />

                        <div class="clearfix">
                            <ol class="breadcrumb">
                                <li class="active pull-right">
                                    <!--<i class="fa fa-dashboard">Zmenit na:</i>-->
                                    {% if user.opravneni == "user" %}
                                    <i class="fa"></i><a class="btn btn-xs btn-info" href="http://localhost/admin/users/ch/{{ user.idprofil }}/admin" role="button">Uživatel</a>
                                    {% else %}
                                    <i class="fa"></i><a class="btn btn-xs btn-success" href="http://localhost/admin/users/ch/{{ user.idprofil }}/user" role="button">Administrátor</a>
                                    {% endif %}
                                    <i class="fa"></i><a class="btn btn-xs btn-danger" href="http://localhost/admin/users/rm/{{ user.idprofil }}" role="button">Odebrat</a>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}