{% extends "admin_tools.htm" %}

{% block login %}
<a class="navbar-brand">{{ fjmeno }} {{ ljmeno }}</a>
{% endblock login %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ name }} <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Statistika pujcovani filmu
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            {% set color = ["panel-success", "panel-default", "panel-info", "panel-warning", "panel-danger"] %}
            {% for movie in count %}
            <div class="col-lg-3 col-md-6">
                <div class="panel {{ color[ loop.index % 5 ] }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-film  fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ movie.count }}</div>
                                <div><strong>{{ movie.nazev }}</strong></div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left"></span><br />-->
                        <!--<div class="clearfix">-->
                            <!--<ol class="breadcrumb">-->
                            <!--</ol>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}