{% extends "base.htm" %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ title }}</a>
        </div>
        <a class="btn btn-success navbar-btn navbar-right" href="/login/logout" role="button">Odhlásit</a>
        <a class="btn navbar-btn navbar-right" href="basket"><img src="../icon.png" alt="kosik" height="20"></a>
        <a class="btn navbar-brand  navbar-right" href="profil">{{ FName }} {{ LName }}</a>
    </div>
</nav>

<br /><br /><br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Nazev filmu</th>
            <th>Datum</th>
            <th>Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for movie in basket %}
        <tr>
            <td>{{ movie.nm }}</td>
            <td><img src="../covers/{{ movie.cover_link }}" alt="{{ movie.name }}" height="42"></td>
            <td>{{ movie.name }}</td>
            <td>{{ date }}</td>
            <td>{{ movie.price }} Kč</td>
            <td><a class="btn btn-xs btn-danger" href="/basket/rm/{{ movie.id }}" role="button">Odebrat</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <p>______________________________</p>
    <p><strong>Celková cena:</strong> {{ total }} Kč</p>
</div>
{% if basket %}
<a class="btn btn-default navbar-right" href="basket/borrow" role="button">Pujčit</a>
{% endif %}

{% endblock content %}

