{% extends "base.htm" %}

{% block content %}

<div class="jumbotron">
    <form class="navbar-form navbar-center" action="/" method="post" role="form">
        <select class="col-md-2 dropdown-toggle" name="filtr[dabing_filtr]">
            <option value="0">Jazyk</option>
            {% for key, dabing in dabings %}
                {% if dabing_def == key+1 %}
                    <option value="{{ dabing.iddabing }}" selected >{{ dabing.jazyk }}</option>
                {% else %}
                    <option value="{{ dabing.iddabing }}">{{ dabing.jazyk }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[actor_filtr]">
                <option value="0">Herec</option>
            {% for key, actor in actors %}
                {% if actor_def == key+1 %}
                    <option value="{{ actor.idherci }}" selected >{{ actor.jmeno_herci }} {{ actor.prijmeni_herci }}</option>
                {% else %}
                    <option value="{{ actor.idherci }}">{{ actor.jmeno_herci }} {{ actor.prijmeni_herci }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[director_filtr]">
                <option value="0">Režisér</option>
            {% for key, director in directors %}
                {% if director_def == key+1 %}
                    <option value="{{ director.idreziser }}" selected >{{ director.jmeno_reziser }} {{ director.prijmeni_reziser }}</option>
                {% else %}
                    <option value="{{ director.idreziser }}">{{ director.jmeno_reziser }} {{ director.prijmeni_reziser }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[year_filtr]">
                <option value="0">Rok</option>
            {% for key, year in years %}
                {% if year_def == year.rok_vydani %}
                    <option value="{{ year.rok_vydani }}" selected>{{ year.rok_vydani }}</option>
                {% else %}
                    <option value="{{ year.rok_vydani }}">{{ year.rok_vydani }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="col-md-2 navbar-right">Zobrazit</button>
    </form>
</div>

{% for movie in movies %}
<div class="col-md-4">
    <h3>{{ movie.nazev }}</h3>
    <p>
        <strong>Reziser:</strong> {{ movie.jmeno_reziser }} {{ movie.prijmeni_reziser }}<br />
        <strong>Herec:</strong> {{ movie.jmeno_herci }} {{ movie.prijmeni_herci }}<br />
        <strong>Rok:</strong> {{ movie.rok_vydani }}<br />
        <strong>Jazyk:</strong> {{ movie.jazyk }}<br />
    </p>
    <p><img src="../covers/{{ movie.cover_link }}" alt="film" height="180" width="127"></p>
    <p><button id="{{ movie.idfilm}}" class="btn btn-default" name="{{ movie.nazev}}" onclick="alrt(this.id, this.name);" role="button">Pujcit &raquo;</button></p>
</div>
{% endfor %}

<script>
    function alrt(id, name) {
        var msg = $('<div class="alert alert-success navbar-fixed-top" role="alert"><strong>'+ name +'</strong> vlozeno do kosiku</div>');
        $('#flashMsg').append(msg);
        setTimeout(function () {
            msg.remove();
            window.location = '/basket/'+id;
        }, 1000);
    }
</script>

{% endblock content %}

