{% extends "base.htm" %}

{% block content %}



<div class="jumbotron">
    <form class="navbar-form navbar-center" action="filtr" method="post" role="form">
        <select class="col-md-2 dropdown-toggle" name="filtr[dabing]">
            <option value="all">Dabing</option>
            <option {{ 'name=set'|default('selected') }} value="CZ">CZ</option>
            <option value="EN">EN</option>
            <option value="NJ">NJ</option>
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[actors]">
            <option value="all">Herci</option>
            <option value="Morgan Freeman">Morgan Freeman</option>
            <option value="Tom Hanks">Tom Hanks</option>
            <option value="Jack Nicholson">Jack Nicholson</option>
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[director]">
            <option value="all">Reziser</option>
            <option value="Miloš Forman">Miloš Forman</option>
            <option value="Robert Zemeckis">Robert Zemeckis</option>
            <option value="Frank Darabont">Frank Darabont</option>
        </select>
        <select class="col-md-2 dropdown-toggle" name="filtr[year]">
            <option value="all">Rok</option>
            <option value="1994">1994</option>
            <option value="1993">1993</option>
            <option value="2000">2000</option>
        </select>
        <button type="submit" class="col-md-2 navbar-right">Zobrazit</button>
    </form>
</div>

{% for movie in movies %}
<div class="col-md-3">
    <h3>{{ movie.nazev }}</h3>
    <p><strong>Reziser:</strong> Frank Darabont<br />
        <strong>Herec:</strong> Morgan Freeman<br />
        <strong>Rok:</strong> {{ movie.rok_vydani }}<br />
        <strong>Jazyk:</strong> CZ<br />
    </p>
    <p><img src="../covers/{{ movie.cover_link }}" alt="film"></p>
    <p><button id="{{ movie.idfilm}}" class="btn btn-default" name="{{ movie.nazev}}" onclick="alrt(this.id, this.name);" role="button">Pujcit &raquo;</button></p>
</div>
{% endfor %}


<script>
    function alrt(id, name) {
        var msg = $('<div class="alert alert-success navbar-fixed-top" role="alert"><strong>'+ name +'</strong> vlozeno do kosiku</div>');
        $('#flashMsg').append(msg);
        setTimeout(function () {
            msg.remove();
            window.location = '/basket/'+id;
        }, 1000);
    }
</script>

{% endblock content %}

