<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
		<title>0hh Website Template | Home :: W3layouts</title>
		<meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
		<link href="./css/style.css" rel="stylesheet" type="text/css" media="all">
	    <style type="text/css"></style>
    </head>
	<body>
		<div class="wrap">
				<div class="header">
					<div class="logo">
						<h1><a>Ohh</a></h1>
					</div>
				</div>
				<div class="ad728x90" style="text-align:center">
				<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9153409599391170" data-ad-slot="8639520288"></ins>
		   </div>
			<div class="content">
				<img src="./img/error-img.png" title="error">
				<p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
				<div class="ad728x90" style="text-align:center">
				<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9153409599391170" data-ad-slot="8639520288"></ins>
		   </div>
				<a href="/">Zpatky do pujcovny</a>
            </div>
		</div>
    </body>
</html>